body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.nav1,.nav2{
    margin: 0px 20px 0px 20px;
}
.nav1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav2{
    text-decoration: underline;
    font-weight: bold;
}
.text-button{
    border: none;
    background: none;
}

.wallet-scaffold{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.wallet-box{
    display: grid;
    height: fit-content;
    width: 310px;
    padding: 20px;
    border-radius: 30px;
    background-color: #B7FFF6;
    margin-top: 80px;
    justify-items: center;
}

.account-name{
    font-size: 24px;
    font-weight: 600;
    /*margin: 10px 0px 10px 0px*/;
}

.account-address{
    font-size: 18px;
    margin-bottom: 10px;
}
.account-balance{
    font-weight: 700;
    font-size: 36px;
}
.token-symbol{
    font-weight: 500;
    font-size: 28px;
}

.send-box{
    display: grid;
    border-radius: 25px;
    background-color: #51FFEA;
    margin: 20px 0px 10px 0px;
    padding: 20px 20px 10px 20px;
}

.send-title{
    font-weight: bold;
    font-size: 16px;
    margin: 0px 0px 10px 10px;
}

input{
    border: none;
    border-radius: 15px;
    height: 24px;
    width: 210px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

.send-button{
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    background-color: black;
    border-radius: 18px;
    height: 44px;
    width: 220px;
    margin: 10px;
}
