body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.nav1,.nav2{
    margin: 0px 20px 0px 20px;
}
.nav1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav2{
    text-decoration: underline;
    font-weight: bold;
}
.text-button{
    border: none;
    background: none;
}

.signup-scaffold{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.signup-box{
    height: fit-content;
    width: 310px;
    padding: 20px;
    border-radius: 30px;
    background-color: #B7FFF6;
    margin-top: 80px;
}

.signup-title{
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0px 40px 20px;
}

.signup-form{
    display: grid;
    justify-content: center;
}

input{
    border: none;
    border-radius: 20px;
    height: 34px;
    width: 290px;
    padding: 10px;
    font-weight: bold;
    /*margin: 10px;*/
}

.signup-button{
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    border-radius: 20px;
    height: 54px;
    width: 310px;
}
.re-direct{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin: 10px 20px 5px 20px;
}

.login-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: dodgerblue;
    text-decoration: underline;
}
