{% extends 'explorer.html' %}
{% block content %}
<div class="block b0">
<div class="block-title">Block #0</div>
<div class="block-details">
<div>From : (None)</div>
<div>To: (None)</div>
<div>Value :None</div>
</div>
</div><div class="block b1">
<div class="block-title">Block #1</div>
<div class="block-details">
<div>From : Bhanu(0x2c553E945bb7C35Ff936fD31c7943a4730A05454)</div>
<div>To: ()</div>
<div>Value :</div>
</div>
</div><div class="block b2">
<div class="block-title">Block #2</div>
<div class="block-details">
<div>From : Bhanu(0x2c553E945bb7C35Ff936fD31c7943a4730A05454)</div>
<div>To: Siddu(0x0231368B6731aAa0903A954A047758d1a15CBC69)</div>
<div>Value :1000</div>
</div>
</div>
{% endblock %}