<!DOCTYPE html>
<html>
    <head>
        <link href="/static/createWalletDesign.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav-bar">
            <form action="/">
                <button class="text-button nav1">Explorer</button>
            </form>
            <form>
                <button class="text-button nav2">Wallet</button>
            </form>
        </nav>
        <div class="signup-scaffold">
            <div class="signup-box">
                <div class="signup-title">
                    Create Account
                </div>
                <form class="signup-form" action="/signup">
                    <input name="username" placeholder="Username"><br>
                    <input name="password" type="password" placeholder="Password"><br>
                    <input name="retype-password" type="password" placeholder="Retype password"><br>
                    <input class="signup-button" type="submit">
                </form>
                <div class="re-direct">
                    <div>Have a wallet?</div>
                    <a class="text-button login-button" href="/login-page">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>