<!DOCTYPE html>
<html>
    <head>
        <link href="/static/walletLoginDesign.css" rel="stylesheet">
    </head>
    <body>
        <nav class="nav-bar">
            <form action="/">
                <button class="text-button nav1">Explorer</button>
            </form>
            <form>
                <button class="text-button nav2">Wallet</button>
            </form>
        </nav>
        <div class="login-scaffold">
            <div class="login-box">
                <div class="login-title">
                    Login
                </div>
                <form class="login-form" action="/login">
                    <input name="username" placeholder="Username"><br>
                    <input name="password" type="password" placeholder="Password"><br>
                    <input class="login-button" type="submit">
                </form>
                <div class="re-direct">
                    <div>Don't have a wallet?</div>
                    <a class="text-button create-wallet-button" href="/create-account">Create Wallet</a>
                </div>
            </div>
        </div>
    </body>
</html>